@media (max-width:769px) {
 main .personagem .imagem {
    height: 85%;
 }

 .conteudo {
    justify-content: flex-end;
    left: 0;
    top: 1%;
    max-width: 100wh;
    padding: 5px;
 }

 .conteudo .nome-personagem{
    font-size: 36px;
 }
 .conteudo .descricao{
    max-width: 500px;
 }
 
 .conteudo .logo{
    background-image: none;
}
.botoes-lado-esquerdo {
   
    background-color:rgba( 0, 0, 0, 0);
}
.botoes-lado-direito {
    background-color:rgba( 0, 0, 0, 0);
}
.botoes-lado-direito .botao img {
    max-width: 50px;
}

.botoes-lado-esquerdo .botao img {
    max-width: 50px;
}
}

@media (max-width:425px) {
    main .personagem .imagem {
       height: auto;
    }

    .conteudo{
        top: -48%;
    }

    .conteudo .nome-personagem{
        font-size: 24px;
    }
    .botoes-lado-direito{
        padding: 20px;
        top: -38%;
    }

    .botoes-lado-esquerdo{
        padding: 20px;
        top: -38%;
    }
    .botoes-lado-direito .botao img {
        max-width: 25px;
    }

    .botoes-lado-esquerdo .botao img {
        max-width: 25px;
    }
}
